<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="customerBean" class="za.co.dotze.xml.configuration.customer.Customer">
        <property name="customerName" value="Spring!"/>
    </bean>
    <bean id="auditBean" class="za.co.dotze.xml.configuration.customer.CustomerAudit">
        <property name="customerAuditName" value="Spring"/>
    </bean>

</beans>
